body {
    background-color: #5d00a4;
    /* color de fondo de toda la página */
    color: #f1f1f1;
    /* color de letra de toda la página */
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 1200; /* peso del contorno de la letra */
}
picture {
    display: flex;
    justify-content: center;
}
picture img {
    width: 30%; /*  width: ancho / height: alto*/ 
}

.boton {
    text-decoration: none; /* Eliminamos el subrayado del enlace */
    color: #b303ff;
    border: 2px solid rgb(255, 179, 0);
    padding: 5px; /* margen interior */
    border-radius: 5px;
    display: inline-block;
}
.boton:hover { /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    background-color: rgb(44, 37, 27);
    color: #ff0000;
}
header ul li {
    display: inline-block; /*una lista +
}









