body {
    background: rgb(148,42,42);
background: linear-gradient(180deg, rgba(148,42,42,1) 46%, rgba(0,0,0,1) 50%);
    /* color de fondo de toda la página */
    color: #ffffff;
    /* color de letra de toda la página */
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    /* peso del contorno de la letra */
}

img {
    display: flex;
    justify-content: center;
}

img {
    width: 10%;
    
    /*  width: ancho / height: alto*/
}

.boton {
    text-decoration: none;
    /* Eliminamos el subrayado del enlace */
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    /* margen interior */
    border-radius: 5px;
    display: inline-block;

}

.boton:hover {
    /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    background-color: rgb(21, 6, 29);
    color: #ff0000;
}

header ul li {
    display: inline-block;
    /*una lista para q los botones esten orisontal */

}

h2 {
    font-weight: 900;
}
ul{
    list-style: none;
    justify-content: center;

}